<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308801835359-5e781nrmc1d25j90efkpjoqv6kds7h5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308801835359-5e781nrmc1d25j90efkpjoqv6kds7h5d</string>
	<key>API_KEY</key>
	<string>AIzaSyBoqdeyiYXpdgAfle9YqziY3y87W8gL6g8</string>
	<key>GCM_SENDER_ID</key>
	<string>308801835359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.maskbook.maskbook</string>
	<key>PROJECT_ID</key>
	<string>mask-dm-push</string>
	<key>STORAGE_BUCKET</key>
	<string>mask-dm-push.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308801835359:ios:8ca7bc790fc72538c026ea</string>
</dict>
</plist>