<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Mask Network</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>mask</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mask</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-apps</string>
		<string>mailto</string>
		<string>imtokenv2</string>
		<string>metamask</string>
		<string>trust</string>
		<string>rainbow</string>
		<string>argent</string>
		<string>pillarwallet</string>
		<string>imtoken2</string>
		<string>ledgerlive</string>
		<string>huobiwallet</string>
		<string>cybavowallet</string>
		<string>rwallet</string>
		<string>dharma</string>
		<string>gnosissafe</string>
		<string>tongue</string>
		<string>celowallet</string>
		<string>easypocket</string>
		<string>dcent</string>
		<string>1inch</string>
		<string>bitpie</string>
		<string>o3wallet</string>
		<string>halodefiwallet</string>
		<string>argent://app</string>
		<string>plasmapay</string>
		<string>aktionariat</string>
		<string>flare</string>
		<string>ledgerlive</string>
		<string>safepalwallet</string>
		<string>tpoutside</string>
		<string>cryptowallet</string>
		<string>ontoprovider</string>
		<string>eidoo</string>
		<string>mathwallet</string>
		<string>pillarwallet</string>
		<string>sparkpoint</string>
		<string>keyring</string>
		<string>essentials</string>
		<string>mykeywalletconnect</string>
		<string>talken-wallet</string>
		<string>use.cash</string>
		<string>coin98</string>
		<string>julwallet</string>
		<string>defiantapp</string>
		<string>nash</string>
		<string>ellipal</string>
		<string>celo</string>
		<string>moneyunstoppable</string>
		<string>bitpay</string>
		<string>zel</string>
		<string>kyberswap</string>
		<string>atoken</string>
		<string>peakdefiwallet</string>
		<string>stasis</string>
		<string>hashme</string>
		<string>bitkeep</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Mask Network needs use camera to scan QR code</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Mask Network needs FaceID to protect your wallet</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Mask Network needs to access the photo library to save the encrypted image payload</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Mask Network needs to access the photo library to save the encrypted image payload</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
